In [1]:
import sys

from config import get_home_path

sys.path.insert(1, get_home_path())

from model_deploy_sdk.utils import get_dataset

### 1. Load dataset

In [2]:
dataset_ds_case = get_dataset('dataset_ds_case')

In [3]:
dataset_ds_case.head(5)

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,total_quantity,augmented_quantity,FU,City,CEP,date_time_login,date_time_confirm,TARGET
0,-400.732711,72.926478,-243.059370,87.928551,568.211458,-314.371508,-601.964793,617.692215,123,569,ES,Vitória,29072305,2022-06-05 02:14:15,2022-06-05 02:14:21,1
1,-880.747368,-956.608685,1254.880642,-295.771103,-4279.430521,-1540.310595,-376.902843,-550.748455,108,184,RJ,Rio de Janeiro,23580304,2022-05-15 08:04:36,2022-05-15 08:04:52,0
2,1466.142174,-254.237053,27.568952,-607.225752,-133.657056,1300.214330,254.241280,970.543987,116,384,RJ,Nova Iguaçu,26220320,2022-05-03 17:14:40,2022-05-03 17:14:49,0
3,-528.482231,1100.676006,-718.090372,-97.394485,-2962.996039,-1356.790309,1034.567734,-68.548963,100,0,RJ,Nova Iguaçu,26089250,2022-06-07 16:56:18,2022-06-07 16:56:26,0
4,1648.290257,1317.673828,-1102.974635,448.956842,-332.796029,1163.003660,-1560.440766,1844.630048,107,161,MG,Contagem,32046360,2022-04-05 00:19:15,2022-04-05 00:19:26,0

### 2. Explore dataset

### 3. Feature Engineering

### 4. Feature and dataset selection